<!-- include header -->
<%- include('include/_header2')%>
<!--/include header -->

 <!-- Main -->
 <main id="site-main">
    <div class="container">

        <!-- form handling -->
        <form action = "/" method ="post">
            <table class ="table">
                <thead class ="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>@Email</th>
                        <th>Gender</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('include/_show2')%>
                </tbody>
            </table>
        </form>
    </div>
</main>
<!--/ Main -->

<!-- include footer -->
<%- include('include/_footer')%>
<!--/include footer -->
